.caption {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.text {
  position: absolute;
  width: 100%;
  line-height: 1.5;
  h2 {
    margin-bottom: 0.4em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid var(--text-color-base);
    font-size: 1.5em;
    font-weight: bold;
  }
  strong {
    display: inline-block;
    width: 4em;
    font-weight: bold;
  }
  &.info {
    left: 0;
    bottom: 1.6rem;
    text-align: left;
    img {
      width: 16rem;
    }
  }
  &.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    img {
      width: 40rem;
      max-width: 100%;
    }
  }
  &.image {
    top: 100%;
    right: 2.4rem;
    text-align: right;
    img {
      width: 20rem;
    }
  }
}
@media (max-width: 767px) {
  .text {
    &.info {
      left: 0;
      bottom: 2.4rem;
      img {
        width: 12rem;
      }
    }
    &.image {
      right: 1.6rem;
      img {
        width: 12rem;
      }
    }
  }
}
