.endScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  cursor: default;
}
.viewport {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.text {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  text-align: center;
  line-height: 1.5;
  font-size: 0.8rem;
  h2 {
    margin-top: 0;
    margin-bottom: 0.4rem;
    font-size: 2em;
    font-weight: bold;
  }
  p {
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
}
.author {
  display: inline-block;
  margin-top: -0.05rem;
  margin-bottom: 0.5rem;
  font-size: 1.2em;
  font-weight: bold;
}
.shareButton {
  display: inline-block;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  vertical-align: top;
  font-size: 1.6rem;
  &.xTwitter {
    color: #ffffff;
  }
  &.bluesky {
    padding-top: 0.15rem;
    color: #1da1f2;
    font-size: 1.4rem;
  }
  &.facebook {
    color: #1877f2;
  }
  &.hatena {
    padding-top: 0.15rem;
    color: #00a4de;
    font-size: 1.4rem;
  }
  &.pocket {
    color: #ef4056;
  }
  svg {
    display: block;
    transition: scale 150ms;
  }
  &:hover svg,
  &:focus svg,
  &.active svg {
    scale: 1.4;
  }
}
.navigation {
  position: absolute;
  bottom: 0.8rem;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-color-accent);
  .icon {
    vertical-align: -0.12em;
    font-size: 1em;
    color: var(--text-color-accent);
  }
}
.backToStart {
  display: inline-block;
  border: none;
  line-height: 1;
  text-shadow: inherit;
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition:
    color 150ms,
    scale 150ms;
  &:hover,
  &:focus,
  &:active {
    color: var(--text-color-strong);
    scale: 1.25;
  }
}
// Disable hover effects on non-pointer devices.
@media (hover: none) {
  .shareButton:hover svg {
    scale: 1;
  }
  .button:hover {
    color: var(--text-color-base);
    scale: 1;
  }
}
// Use stronger selector to override the default styles.
.endScreen .tooltip {
  margin-top: -0.2rem; // Slightly upper for icon scaling.
  padding: 0.2rem 0.5rem;
  border-radius: 0.15rem;
  font-size: max(12px, 0.7rem);
  color: var(--text-color-base);
  background-color: var(--background-color-base);
  opacity: 1;
}
.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
