.hud {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0.8rem;
  margin: -0.1rem;
  z-index: 1;
  pointer-events: none;
  user-select: none;
}
.spacer {
  flex-grow: 1;
}
.button {
  display: block;
  padding: 0 0.2rem;
  border: none;
  line-height: 1;
  text-shadow: inherit;
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  &:disabled {
    cursor: default;
  }
}
.icon {
  display: block;
  font-size: 1rem;
  color: var(--text-color-base);
  transition:
    color 150ms,
    scale 150ms;
  .button:hover &,
  .button:focus &,
  .button:active & {
    color: var(--text-color-strong);
    scale: 1.4;
  }
  .button:disabled & {
    color: #6d6155;
    scale: 1;
  }
  .button.large & {
    font-size: 2.4rem;
  }
}
.settingsButton {
  display: none;
}
.settingsContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
// Settings buttons for mobile devices.
@media (max-width: 767px) {
  .settings {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .settingsButton {
    display: block;
    transition: rotate 150ms;
  }
  .settingsContent {
    display: none;
  }
  .settingsVisible {
    .settingsButton {
      rotate: 60deg;
    }
    .settingsContent {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  }
}

// Disable hover effects on non-pointer devices.
@media (hover: none) {
  .button:hover .icon {
    color: var(--text-color-base);
    scale: 1;
  }
}

// Use stronger selector to override the default styles.
.hud .tooltip {
  padding: 0.2rem 0.5rem;
  border-radius: 0.15rem;
  font-size: max(12px, 0.7rem);
  color: var(--text-color-base);
  background-color: var(--background-color-base);
  opacity: 1;
}
