.splashScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--text-color-disabled);
  background-color: #000000;
  cursor: default;
  pointer-events: none;
  user-select: none;
}
.title {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -5rem;
  text-align: center;
  pointer-events: auto;
  h1 {
    width: min(100vw, 80vh);
    margin: 0 auto;
  }
}
